<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">
          <strong>SHOPPER STOP</strong>
        </a>
        <nav>
            <% if (user.isAdmin){%>
        <a class="user" href="">Hii <%=user.name%></a>
          <a class="logout" href="/users/logout">SIGN OUT</a>
          <a class="logout" href="/users/">USERS</a>
         <%} else if(!isAdmin) {%> 
            <a class="user" href="">Hii <%=user.name%></a>
            <a class="logout" href="/users/logout">SIGN OUT</a>
       <%  } %>
        </nav>
    </header>
      <h2>All Users List</h2>
    <%users.forEach((user) => {%>
        <% if(user.isAdmin === false){%>
            <p>User Name : <%=user.name%></p>
            <p>Email : <%=user.email%></p>
            <p>City : <%=user.city%></p>
           
                <a href="/users/<%=user.id%>/block"><button class=" red">Block</button></a>
                <a href="/users/<%=user.id%>/Unblock"><button class=" green">Unblock</button></a>
           

       <% }%>
         
    <%})%>
</body>
</html>